@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(0, 3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadein-throwaway {
  0% {
    opacity: 0;
    transform: translate(5rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadein-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #c8a89c;
  --clr-secondary: #72584e;
  --clr-tertiary: #9c8c85;
  --clr-accent-dark: #331b12;

  --clr-pop: #e2764f;
  scroll-behavior: smooth;
}

.nunito-sans-bold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-xtra-bold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  width: 100%;

  color: rgb(0 0 0/0.8);
}

img {
  display: block;
  max-width: 100%;
}

section {
  /* min-height: 870px; */
  /* min-height: 550px; */
  margin-block: 20px;
  margin-inline: auto;
  box-shadow: 5px 5px 15px rgb(0 0 0/0.2), -5px -5px 10px rgb(0 0 0/0.2);
  scroll-margin-top: 78px;
}

main {
  margin-top: 85px;
  /* background-color: red; */
}

.section-title {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.founding-team-section-title {
  font-size: 3rem;
  margin-bottom: 6rem;
  text-align: center;
}

.light-text {
  color: rgba(255, 255, 255, 0.75);
}

.top {
  min-height: 250px;
  background-color: var(--clr-primary);
  background-image: url("./images/marks.jpg");
  background-size: cover;
  /* background-size: contain; */
  height: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: top;

  display: flex;
  gap: 2rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  /* justify-content: flex-start; */
  flex-direction: column;
  text-align: center;

  position: relative;
}

.top-title-top,
.top-title-bottom {
  font-size: 4rem;
  position: sticky;
  top: 5rem;
  width: 100%;
  height: 100%;

  color: rgba(255, 255, 255, 0.6);

  background-color: #331b1266;
  /* background-color: #331b12; */
  opacity: 0;
  width: 100%;
}

.top-title-top {
  animation: fadein-title;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  text-align: left;
  text-align: center;
  padding-left: 4rem;
  padding: 0;
}
.top-title-bottom {
  animation: fadein-title;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  text-align: right;
  text-align: center;
  padding-right: 4rem;
  padding: 0;
  background-color: #331b12;
}

.top-title {
  font-size: 6rem;

  color: rgba(51, 27, 18, 0.2);

  justify-self: start;
}

/* HERO */

.hero {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  /* padding: 4rem; */
}

.hero-content {
  text-align: center;
}

.hero-content-text {
  font-size: 2.5rem;

  margin-bottom: 4rem;
}

.hero-content-title-box {
  margin-bottom: 4rem;
}

.hero-content-title {
  font-size: 5rem;
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 1.3;

  margin-bottom: 2rem;
}

.hero-throwaway-container {
  box-shadow: 10px 10px 15px rgb(0 0 0/0.2);
  display: block;
  margin-inline: auto;

  width: 500px;
  height: 500px;
  flex-grow: 1;
  flex-shrink: 0;

  object-fit: cover;
  object-position: center;

  display: flex;
  justify-content: center;

  opacity: 0;
  background-color: var(--clr-primary);
  border-radius: 50%;
  overflow: hidden;
}

.hero strong {
  color: var(--clr-pop);
}

/* ********************************* */

/* cta */

.cta {
  background-color: var(--clr-secondary);
  color: #ffffffbb;
  font-size: 1.4rem;
  /* padding: 2rem 6rem; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
}

.cta-box {
  border: 1px solid #ffffffbb;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.in-view {
  animation: fadein 1000ms 250ms forwards;
}

.in-view-throwaway {
  animation: fadein-throwaway 1.5s 250ms forwards;
}

.not-in-view {
  opacity: 0;
  transition: all 1s;
}

header {
  background-color: var(--clr-primary);

  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-inline: auto;
  display: flex;
  align-items: center;

  /* padding: 2rem; */
  /* display: flex;

  justify-content: space-between;
  align-items: center; */
  z-index: 100;
  /* border-bottom: 2px solid var(--clr-secondary); */
  overflow: visible;
  font-size: 1.5rem;
}
/* header:after {
  content: "";
  position: absolute;
  top: -40px;
  left: 20px;
  display: block;
  margin: 0 auto;
  background: var(--clr-primary);
  width: 200px;
  height: 200px;
  z-index: 50;
  border-radius: 0 0 50% 50%;

} */

.header-links-container {
  /* background-color: red; */
  margin-left: auto;

  width: max-content;
  display: flex;
  justify-content: start;
  color: #331b12;
  font-size: 0.8rem;
  letter-spacing: 0px;
}

.header-link {
  text-decoration: none;
  transition: all 900ms;
  display: inline-block;
}

.header-links-container li:nth-of-type(4) {
  display: none;
}

/* .header-links-container li:nth-of-type(3) {
  display: none;
} */

.header-link:visited {
  color: #331b12;
}

.header-link:hover {
  color: white;
  transform: translateY(-2px);
}

.logo {
  /* border: 3px solid black; */
  width: 75px;
  height: 75px;
  display: grid;
  place-content: center;
  margin-inline: auto;

  z-index: 300;
  position: absolute;
  left: 0;
  top: 0;

  background-color: transparent;
  cursor: pointer;

  /* border-radius: 40%;
  margin-inline: auto;
  background-color: var(--clr-primary);
  border-bottom: 2px solid var(--clr-secondary);
  padding-top: 3rem; */
}

/* header .logo {
  margin-inline: auto;
} */

/* .logo {
  margin-inline: auto;
  width: 300px;
  height: 300px;
  background-color: #e2764f;
} */

/* boxes */

.box-icon-container {
  width: min(10vmax, 100px);
  margin: 2rem auto;
  justify-self: flex-start;
  align-self: flex-start;
}

.box-container,
.founder-box-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 1rem;
}

.box-center {
  text-align: center;
}

.box-container {
  gap: 1rem;
}

.founder-box-container {
  gap: 1.5rem;
}

.box {
  width: 100%;
  opacity: 0;
  background-color: transparent;
  padding: 1rem 1rem 3rem 1rem;
  border-radius: 8px;
  height: 100%;

  border: 2px solid var(--clr-accent-dark);
}

.founder-box {
  width: 100%;

  position: relative;
  padding: 6rem 1rem 3rem 1rem;

  opacity: 0;
  margin-bottom: 5rem;
  height: 100%;

  border: 2px solid var(--clr-accent-dark);

  border-radius: 8px;
  background-color: transparent;
}

.box-current {
  border: 2px solid #ffffffbb;
}

.box-header {
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

.box-body {
  font-size: 1.5rem;
}

li {
  display: inline;
  margin-right: 1rem;
}

.color-primary {
  background-color: var(--clr-primary);
}

.shadow {
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1);
}

.box-section {
  padding: 2rem 4rem 4rem 4rem;
  padding: 2rem 0.5rem 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current {
  background-color: var(--clr-secondary);
  color: #ffffffbb;
  border-color: #ffffffbb;
  background-image: linear-gradient(to right, var(--clr-secondary), #55433c);
}

.change {
  background-color: var(--clr-primary);
  background-image: linear-gradient(to right, var(--clr-primary), #bda69e);
}

/* FOUNDER */

.founder-section {
  padding: 2rem 6rem 4rem 6rem;
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
}

.cofounder-section {
  padding: 2rem 6rem 4rem 6rem;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;

  flex-direction: column;
  position: relative;
}

.founder-container {
  background-color: transparent;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.founder-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.laura-img-container {
  margin-bottom: 4rem;
}

.cofounder-container {
  background-color: transparent;

  display: flex;
  justify-content: flex-start;

  flex-direction: column;

  flex-grow: 1;

  margin-inline: auto;
}

.cofounder-img-container {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;

  margin-inline: auto;
  box-shadow: 10px 10px 15px rgb(0 0 0/0.2);
}

.founder-section-heading {
  font-size: 2rem;

  padding: 0;
  line-height: 1;
  font-weight: 600;

  margin-bottom: 4rem;
}

.founder-body {
  margin-bottom: 2rem;

  font-size: 1.5rem;
}

.cofounder-body {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  justify-self: flex-start;
}

.founding-team-container-heading {
  font-size: 2rem;

  padding: 0;
  line-height: 1;
  font-weight: 600;

  margin-bottom: 4rem;
}

.founder-box-header {
  font-weight: 400;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.founder-box-body {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.founder-box-image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--clr-tertiary);
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
}

.founder-box-links {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 2rem;
  right: 6rem;
}

.founding-team-box-links {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.link-container {
  width: 30px;
  height: 30px;

  display: grid;
  place-content: center;
}
.link {
  object-fit: cover;
  width: 100%;
}

.founding-team-section {
  padding: 2rem 6rem 4rem 6rem;
  padding: 2rem 2rem 4rem 2rem;

  text-align: left;
}

/*******************************/

.footer {
  padding: 1rem;
  background-color: var(--clr-primary);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-inline: auto;
}

@media (min-width: 470px) {
  .header-links-container li:nth-of-type(4) {
    display: inline-block;
  }
}

@media (min-width: 643px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  header {
    height: 100px;
  }

  .header-links-container {
    /* background-color: red; */
    margin-left: auto;

    width: max-content;
    display: flex;
    justify-content: start;
    color: #331b12;
    font-size: 1rem;
    letter-spacing: 2px;
  }
  section {
    scroll-margin-top: 100px;
  }
}

@media (min-width: 775px) {
  .logo {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 45px;
    top: 0px;
  }

  header:after {
    content: "";
    position: absolute;
    top: -40px;
    left: 20px;
    display: block;
    margin: 0 auto;
    background: var(--clr-primary);
    width: 200px;
    height: 200px;
    z-index: 50;
    border-radius: 0 0 50% 50%;
    /* border-bottom: 2px solid var(--clr-secondary); */
    /* transform: translateX(-50%); */
  }
}

@media (min-width: 1100px) {
  section {
    min-height: 870px;
    scroll-margin-top: 120px;
  }

  .top {
    min-height: 870px;
  }
  .founder-container {
    display: flow-root;
  }
  .laura-img-container {
    float: left;
    width: 40%;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }

  .section-title,
  .founder-section-heading {
    text-align: left;
  }

  .founding-team-section-title {
    text-align: left;
  }
  .header-links-container {
    margin-right: auto;
  }
}

@media (min-width: 1470px) {
  .top-title-top,
  .top-title-bottom {
    font-size: 5rem;
  }
  .hero-content-title {
    font-size: 3rem;
  }
  .hero {
    flex-direction: row;
    align-items: center;
  }
  .hero-throwaway-container {
    width: 600px;
    height: 600px;
    border-radius: 50%;
  }
  .hero-content {
    margin-top: 0;
    width: 100%;

    text-align: left;
  }
  .cta-box {
    text-align: left;
  }
  .founding-team-section {
    padding: 2rem 6rem 4rem 6rem;
  }
  .cta {
    font-size: 3rem;
  }
}

@media (min-width: 1500px) {
  section,
  footer {
    width: 90%;
    max-width: 1400px;
  }
  .box-container {
    flex-direction: row;
    align-items: stretch;
  }

  .box {
    min-height: 600px;
  }

  .founder-box {
    min-height: 950px;
    padding: 6rem;
  }

  .cta {
    padding-inline: 4rem;
    padding: 2rem 6rem;
  }

  .founder-box-container {
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
  }
}
